---
import Layout from '../layouts/Layout.astro';

import Header from '../components/header.astro';		
import Hero from '../components/hero.astro';
import Services from '../components/services.astro';
import CaseStudies from '../components/caseStudies.astro';
import HowWeDoIt from '../components/howWeDoIt.astro';
import ChooseUs from '../components/chooseUs.astro';
import Contact from '../components/contact';
import Footer from '../components/footer.astro';
import Faq from '../components/faq.astro';
import InstagramFloat from '../components/floatingButtons.astro';
---

<Layout 
	title="Servicios de Desarrollo Web - Rock Byte Tech"
	description="Creamos soluciones web modernas y escalables con Astro, Angular y .NET para empresas en Colombia."
>
	<Header />

	<!-- Contenido principal -->
	<main>
		<Hero />
		<Services />
		<CaseStudies />
		<ChooseUs />
		<HowWeDoIt />
		<Faq />
		<Contact client:idle />
	</main>
	<InstagramFloat />
	<!-- Fin del contenido principal -->
	<Footer />
</Layout>
