<section class="bg-[#111]" id="contacto">
  <div class="max-w-4xl px-6 py-24 mx-auto text-center">
    <h2 class="text-3xl font-semibold tracking-tight text-white sm:text-4xl text-balance" data-aos="fade-up">
      ¿Listo para construir algo increíble juntos?
    </h2>
    <p class="mt-6 text-lg leading-8 text-gray-400" data-aos="fade-up" data-aos-delay="100">
      Tu idea merece la mejor ejecución técnica. Permítenos ser el socio tecnológico que te ayude a alcanzar tus metas.
    </p>
    <div class="mt-10" data-aos="fade-up" data-aos-delay="200">
      <a href="mailto:contacto@rock-byte-tech.com.co" target="_blank" data-tilt data-tilt-reset="true"  data-tilt-scale="1.1" class="bg-[#00FFC6] text-black text-[20px] font-bold px-6 py-3 rounded-lg hover:bg-amber-50 hover:shadow-[0_0_15px_#00FFC6] hover:scale-105 transform transition">
        Contáctanos Ahora
      </a>
    </div>
  </div>
</section>