---
import { Image } from 'astro:assets';
import iconInstagram from '../assets/icons/instagram.webp';
---

<a href="https://www.instagram.com/rock_byte_tech" target="_blank" rel="noopener noreferrer" aria-label="Instagram Rock Byte Tech"
    class="fixed bottom-6 right-6 z-50 bg-[#363636] rounded-full p-3 shadow-lg hover:drop-shadow-[0_0_12px_white] transition duration-300 flex items-center justify-center hover:animate-bounce">
    <Image src={iconInstagram} alt="Instagram Rock Byte Tech" class="h-8 w-8" />
</a>
