---
import "../styles/global.css";
import 'aos/dist/aos.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Rock Byte Tech</title>
		<style is:global>
			/* Aplica el scroll suave a todo el sitio */
			html {
				scroll-behavior: smooth !important; /* Use !important to ensure it overrides other settings */
			}
		</style>
	</head>
	<body class="bg-[#0A0A0A] text-white font-sans scroll-smooth">
		<slot />
	<!-- Load VanillaTilt.js library -->
  <script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>
<!-- Load AOS library -->
	<script>
		import AOS from "aos";
		AOS.init({
			once: false,        // Para que se animen cada vez que entran en viewport
			duration: 1000,     // Tiempo de la animación en milisegundos
			offset: 100         // Cuánto antes empieza la animación
		});
    </script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>


